body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#map {
  height: 600px;
  width: 100%;
}

.leaflet-popup-content img {
  width: 200px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 10px;
}

.leaflet-popup-content h3 {
  margin: 0 0 5px;
  text-align: center;
}

.leaflet-popup-content p {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
