html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fef6e4;
  font-family: sans-serif;
}
header, footer {
  background: #cdeac0;
  padding: 20px;
  text-align: center;
}
#map {
  height: calc(100vh - 140px); /* full screen minus header and footer */
  width: 90%;
  margin: 20px auto;
  border-radius: 8px;
}
